input[type="submit"] {
    margin: 10px auto;
    text-align: center;
    border: 2px solid;
    padding:13px 13px;
    outline: none;
    color: #ffffff;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.25s;
    cursor: pointer;
    
    &:hover {
      background-color: #4f305b;
    }
  
    &:disabled{
      background-color: #dddddd;
      border-color: #dddddd;
      color: grey;
      cursor: default;
    }
  }
  
  img{ margin: auto; text-align: center; padding:13px 13px; display: inline;}