.btn {
  width: 150px;
  //background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  //color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 5px;
  cursor: pointer;
  transition: 0.5s;
  outline: none;

  &:focus{
    outline: none;
  }
}

.btn:hover {
  background-color: #4d84e2;
}

.icon{
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  color: #b9bbbe;

  &:hover{
    color: #fff;
  }
 
}