<div class="chat">

  <div class="chat__sidebar">

    <div class="row">
      <div class="col">

        <div class="ml-1 mt-4">
          <h3>{{room.name}} <img [src]="room.flag" width="30px"> </h3>
        </div>

        <div class="links">
          <a (click)="onLeaveRoom()"><i class="fas fa-arrow-alt-circle-left fa-2x"></i></a>
        </div>

      </div>
    </div>


    <div id="users" *ngFor="let user of users">
      <ul>
        <li>
          <i class="fa fa-user-o"></i>
          <span> {{user}}</span>
        </li>
      </ul>
    </div>

  </div>

  <div class="chat__main">

    <div id="messages" class="chat__messages">
      <ng-container #vc></ng-container>
    </div>

    <div class="chat__footer">
      <form (ngSubmit)="onSendMessage()">
        <input name="message" type="text" placeholder="Message" [(ngModel)]="message" autofocus autocomplete="off" />
        <button mat-raised-button>
          <i class="fa fa-paper-plane"></i>Send </button>
      </form>
    </div>
  </div>

</div>

<ng-template #template let-chatMessage='chatMessage'>

  <li class="message" [style.background]="user.name === chatMessage.from ? '#3ea8ff' : '#f2f2f2'">

    <div class="message__title">
      <b [style.color]="user.name === chatMessage.from ? 'white' : 'black'">
        {{chatMessage.from}}
      </b>
    </div>

    <div class="message__body">
      <p [style.color]="user.name === chatMessage.from ? 'white' : 'black'">
        {{chatMessage.text}} 
        <span 
          [style.color]="user.name === chatMessage.from ? 'black' : '#ffa600'" class="time">
          {{moment(chatMessage.createdAt).format('h:mm a')}}</span>
      </p>

    </div>
  </li>

</ng-template>