<div class="container">
    <div class="row center-xs ">
        <div class="col-xs-6">

            <section class="card" *ngIf="formType">

                <h2 class="title">Sign in</h2>
    
                <chat-input 
                    [inputType]="'text'" 
                    [inputName]="'email'" 
                    [inputIcon]="'fas fa-at'"
                    (formValues)="getFormValues($event)" >
                </chat-input>
    
                <chat-input 
                    [inputType]="'password'" 
                    [inputName]="'password'"
                    [inputIcon]="'fas fa-lock'"
                    (formValues)="getFormValues($event)" >
                </chat-input>
    
                <chat-button 
                    [buttonType]="'default'" 
                    [buttonColor]="'blue'" 
                    [buttonName]="titleType"
                    (click)="onAuth()">
                </chat-button>
    
                <p class="social-text">Or Sign in with social platforms</p>
    
                <div class="row justify-content-center p-1">
                    <chat-social-button
                        class="d-inline-flex m-1" 
                        *ngFor="let social of socialButtons" 
                        [socialName]="social">
                    </chat-social-button>
                </div>

                <a href="#" (click)="changeFormType()">New here ?</a>
    
            </section>
    
            <section class="card" *ngIf="!formType">
    
                <h2 class="title">Sign up</h2>
    
                <chat-input 
                    [inputType]="'text'" 
                    [inputName]="'name'" 
                    [inputIcon]="'far fa-id-card'"
                    (formValues)="getFormValues($event)" >
                </chat-input>
    
                <chat-input
                    [inputType]="'text'" 
                    [inputName]="'email'"
                    [inputIcon]="'fas fa-at'" 
                    (formValues)="getFormValues($event)" >
                </chat-input>
    
                <chat-input
                    [inputType]="'password'" 
                    [inputName]="'password'"
                    [inputIcon]="'fas fa-lock'" 
                    (formValues)="getFormValues($event)" >
                </chat-input>
    
                <chat-button 
                    class="d-flex justify-content-center" 
                    [buttonType]="'default'" 
                    [buttonColor]="'blue'" 
                    [buttonName]="titleType"
                    (click)="onAuth()">
                </chat-button>
    
                <p class="social-text">Or Sign up with social platforms</p>
                
                <div class="row justify-content-center p-1">
                    <chat-social-button
                        class="d-inline-flex m-1" 
                        *ngFor="let social of socialButtons" 
                        [socialName]="social">
                    </chat-social-button>
                </div>

                <a href="#" (click)="changeFormType()">One of us ?</a>
        
            </section>
        </div>
   </div>
</div>