<div class="d-flex flex-row">

    <div class="col-6 card d-flex justify-content-center">
        <div class="card-body">
            <h5 class="card-title">Sign In</h5>
            <chat-input [inputType]="'text'" [contentName]="'Email'" [inputSize]="'100'"></chat-input>
            <chat-input [inputType]="'password'" [contentName]="'Password'" [inputSize]="'100'"></chat-input>
        </div>
    </div>

    <div class="col-6 card d-flex justify-content-center">
        <div class="card-body">
            <h5 class="card-title">Sign Up</h5>
        </div>
    </div>
</div>