@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*{
  font: 14px/20px "Lato", Arial, sans-serif;
}

.message-from{
  color: lighten(#252525, 8%);
}

.message-time{
  color: lighten(#92959E, 8%);
  padding-left: 6px;
}

#messages {
  overflow:auto; 
  overflow-x: hidden;
  height: 100%;
}

#messages::-webkit-scrollbar {
  width: 1em;
}
 
#messages::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
#messages::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.message {
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 15px;
  width: 58%;
  
  .content-body {
    font-weight: 100;
    color: #ffffff;
  }
}

.message-yt {
  width: 100%;
  background-color: black;
}

.self {
  margin-left: 50%;
}

.self-color{
  background-color: #94C2ED;
}

.other-color {
  background-color: #86BB71;
}