@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*{
  font: 14px/20px "Lato", Arial, sans-serif;
}

.message-from{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375rem;
  color: #fff;
  display: inline;
  vertical-align: baseline;
  position: relative;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.message-time{
  font-size: 0.75rem;
  color: #72767d;
  padding-left: 6px;
}

#messages {
  overflow:auto; 
  overflow-x: hidden;
  height: 100%;
}

#messages::-webkit-scrollbar {
  width: 1em;
}
 
#messages::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
#messages::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.message {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 15px;
  width: 58%;
}

.content-body {
  font-size: 1rem;
  line-height: 1.375rem;
  white-space: pre-wrap;
  white-space: break-spaces;
  word-wrap: break-word;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  color: #dcddde;
  font-weight: 400;
}

.message-yt {
  width: 100%;
  background-color: black;
}

.avatar{
  position: absolute;
  left: 16px;
  margin-top: calc(4px - .125rem);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.col-avatar{
  width: 4%;
  margin-right: 15px;
}

.messages{
  margin-top: 1.0625rem;
  margin-bottom: 10px;
}