<div id="messages" #scrollMe>
  <div class="row">
    <div class="col-11">
      <ng-container #vc></ng-container>
    </div>
  </div>

</div>

<ng-template #template let-message='message'>

  <div [ngClass]="isCurrentUser(message) && !message.isYoutube ? 'self' : ''">

    <span class="message-from">
      {{!isCurrentUser(message) ? message.from + '  ' : user.name }}
    </span>

    <span class="message-time">
      {{moment(message.createdAt).format('h:mm a')}}
    </span>

  </div>

  <ng-container *ngIf="!message.isYoutube && !message.isAudio">

    <li [ngClass]="isCurrentUser(message) ? 'message self self-color' : 'message other-color'">
      <div class="row">

        <span class="content-body">
          {{message.text}}
        </span>

      </div>
    </li>

  </ng-container>

  <ng-container *ngIf="message.isYoutube">

    <li class="message message-yt">
      <app-chat-message-youtube *ngIf="message.isYoutube" [youtubeLink]="message.text"> </app-chat-message-youtube>
    </li>

  </ng-container>

  <ng-container *ngIf="message.isAudio">

    <audio controls="" [ngClass]="isCurrentUser(message) && message.isAudio ? 'self' : ''">
      <source [src]="sanitize(message.text)" type="audio/wav">
    </audio>

  </ng-container>

</ng-template>