.time{
    font-size: 11px;
    //margin-left: 15px;
  }
  
 .message {
  padding: 6px 0 0px 19px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 15px;

  .content-body {
    //margin-left: 15px;
    font-weight: 100;
  }
}