<div id="messages" #scrollMe>
  <div class="row">
    <div class="col-11">
      <ng-container #vc></ng-container>
    </div>
  </div>

</div>

<ng-template #template let-chatMessage='chatMessage'>

  <div class="d-flex justify-content-start">

    <span class="message-from">
      {{chatMessage.from !== user.name ? chatMessage.from + '  ' : user.name }}
    </span>

    <span class="message-time">
      {{moment(chatMessage.createdAt).format('h:mm a')}}
    </span>

  </div>

  <li class="message" [style.background]="user.name === chatMessage.from ? '#94C2ED' : '#86BB71'">

    <div class="row">
      <span class="content-body">{{chatMessage.text}}</span>
    </div>

    <app-chat-message-youtube *ngIf="chatMessage.isYoutube"></app-chat-message-youtube>

  </li>

</ng-template>