<div class="overlay" *ngIf="loader">
    <div class="spinner">
        <div class="spinner-border text-primary" role="status" style="width: 5rem; height: 5rem;">
            <span class="sr-only">Loading...</span>
          </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row start-xs">

        <app-communities
            *ngIf="communities"
            [ngClass]="checkWhenToShowScroll(1, 'col-xs-1', 'communities')"
            [user]="user"
            [communities]="communities"
            (selectCommunity)="selectCommunity($event)">
        </app-communities>
      
        <app-channels 
            *ngIf="communitySelected"
            [ngClass]="checkWhenToShowScroll(30, 'col-xs-2', 'channels')" 
            [channels]="communitySelected"
            (sendCurrentChannel)="getCurrentChannel($event)">
        </app-channels>

        <app-chat 
            *ngIf="currentChannel && communitySelected"
            class="col-xs-8 chat"
            [communities]="communitySelected"
            [channelSelected]="currentChannel">
        </app-chat> 

        <app-users
            [ngClass]="checkWhenToShowScroll(30, 'col-xs-1', 'info')" 
            [users]="communities.members">
        </app-users>

    </div>
</div>