<!-- Modal content -->
<ng-template #content>
    <div class="modal-body">
        <ng-container [ngTemplateOutlet]="modalContent"></ng-container>
    </div>
</ng-template>

<!-- Modal Default -->
<a (click)="openModal(content)" *ngIf="modalType === 'default'">{{modalLinkName}}</a>

<!-- Modal Icon -->
<a (click)="openModal(content)" *ngIf="modalType === 'icon'">
    <i class="fab fa-youtube icon" *ngIf="modalIconName === 'video'"></i>
    <i class="fas fa-plus" *ngIf="modalIconName === 'plus'"></i>
    <i class="fas fa-user" *ngIf="modalIconName === 'user'"></i>
</a>


