li {


    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 8px;
    margin-left: 8px;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    span{
        padding: 6px 0;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        white-space: normal;
        cursor: pointer;
        
    }
}