<div class="row center-xs">
    <div class="col">
        <chat-input (ngModelChange)="searchName" [inputType]="'text'" [inputName]="'Name'"
            [inputIcon]="'fas fa-address-card'" [inputIconColor]="'black'" [inputColor]="'black'"
            [inputPlaceholder]="'Type and the press enter'" (formValues)="getFormValues($event)">
        </chat-input>

    </div>
</div>

<ul *ngIf="users.length > 0">
    <li *ngFor="let user of users">
        <span class="justify-content-start">{{user.name}}</span>
        <button class="d-flex justify-content-end" (click)=addUserToCommunity(user)>Add</button>
    </li>
</ul>

<div class="row center-xs" *ngIf="users.length === 0">
    <div class="col">
        <span>No results found</span>
    </div>
</div>