<div class="row center-xs channels-heading">
    <div class="col">
        <span class="title">{{channels.name}}</span>
    </div>
</div>

<div class="row center-xs">
    <div class="col channels-title">
        <img class="image" [src]="channels.logo">
    </div>
</div>

<hr>
<p class="row center-xs members">Members: {{members.length}}</p>
<p class="row center-xs members">Owner: {{channels.owner.name}}</p>
<hr>

<ul>
    <li *ngFor="let channel of channels.channels; let i = index">
        <span class="justify-content-start" (click)="getCurrentChannel(channel)">
            <img src="assets/svg/hashtag.svg">
            {{channel.name}}
        </span>
        <span class="d-flex justify-content-end">
            <ng-template #newChannel>
                <app-search-user [communityId]="channels._id">
                </app-search-user>
            </ng-template>
    
            <chat-modal 
                [modalType]="'icon'" 
                [modalIconName]="'user'" 
                [modalContent]="newChannel" 
                [modalSize]="'md'"
                (modalRef)="modalRef($event)">
            </chat-modal>
        </span>
    </li>
</ul>

<div class="row center-xs" *ngIf="checkCommunityOwner()">
    <div class="col-xs-6">
        
        <ng-template #newChannel>
            <app-new-community
                [user]="user"
                [type]="'channel'"
                [communities]="channels">
            </app-new-community>
        </ng-template>

        <chat-modal 
            [modalType]="'icon'" 
            [modalIconName]="'plus'" 
            [modalContent]="newChannel" 
            [modalSize]="'md'"
            (modalRef)="modalRef($event)">
        </chat-modal>
    </div>
</div>