<div class="row center-xs channels-heading">
    <div class="col">
        <span class="title">{{community.name}}</span>
        <app-menu 
            *ngIf="checkCommunityOwner()" 
            class="menu" 
            [data]="community" 
            [items]="menuItems"
            (sendAction)="getAction($event)">
        </app-menu>
    </div>
</div>

<div class="row center-xs">
    <div class="col channels-title">
        <img class="image" [src]="community.logo">
    </div>
</div>

<hr>
<p class="row center-xs members">Members: 80</p>
<p class="row center-xs members">Owner: {{community.owner.name}}</p>
<hr>

<ul>
    <li *ngFor="let channel of channels; let i = index">

        <span 
            class="justify-content-start" 
            (click)="getCurrentChannel(channel)">
            <img src="assets/svg/hashtag.svg">
            {{channel.name}}
          </span>

          <span class="justify-content-end">
            <app-menu 
                *ngIf="checkCommunityOwner()" 
                [data]="community" 
                [items]="channelMenuItems"
                (sendAction)="getAction($event)">
            </app-menu>
          </span>
    </li>
</ul>

<ng-template #addUser>
    <app-search-user [community]="community">
    </app-search-user>
</ng-template>

<ng-template #addChannel>
    <app-new-community
        [user]="user"
        [type]="'channel'"
        [community]="community">
    </app-new-community>
</ng-template>

<ng-template #deleteChannel>
    <app-content-delete>
    </app-content-delete>
</ng-template>
