<div class="row">
    <div class="col">
        <span>Youtube link here</span> 
        
        <input 
            type="text" 
            class="form-control" 
            [(ngModel)]="link" 
            placeholder="Example: https://youtu.be/G6Hu2uX2zOE" 
            (ngModelChange)="validateYoutubeLink()">
        
        <button 
            class="btn btn-primary btn-sm" 
            (click)="sendYoutube()" 
            [disabled]="!isYoutubeLink">
            Confirm
        </button>
    </div>
</div>