.input-field {

  input {
    background: none;
    outline: none;
    border: 1px solid rgb(201, 200, 200);
    line-height: 1;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    width: 300px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;;
  }
  
  i {
    text-align: center;
    line-height: 55px;
    color: white;
    transition: 0.5s;
    font-size: 1.1rem;
    margin: 0 10px;
  }

  ::-webkit-input-placeholder {
    color: white;
    text-transform: capitalize;
  }
  
  :-moz-placeholder { 
    color: white;
    text-transform: capitalize;
  }
  
  ::-moz-placeholder {  
    color: white;
    text-transform: capitalize;
  }
  
  :-ms-input-placeholder { 
    color: white;
    text-transform: capitalize;
  }

}

.input-error{
  border-color: #ec6e6e !important;
}

.error-message{
  color:#ec6e6e;
}