<div class="input-field">

    <i 
        *ngIf="inputIcon" 
        [ngClass]="inputIcon" 
        [ngStyle]="{'color' : inputIconColor}">
    </i>

    <input 
        *ngIf="!isEdit"
        [ngStyle]="{'color' : inputColor, 'placeholder': inputColor}"
        [type]="inputType"
        [placeholder]="inputPlaceholder"
        (change)="sendFormValue($event)">
    
    <input 
        *ngIf="isEdit"
        [ngStyle]="{'color' : inputColor, 'placeholder': inputColor}"
        [type]="inputType"
        [placeholder]="inputPlaceholder"
        [value]="inputValue"
        (change)="sendFormValue($event)">
</div>