<div class="container-fluid">

  <div class="row mt-5 p-5">
    <div class="col card p-3">
      <p class="d-flex justify-content-center">I would like to practice</p>

      <div class="row room d-flex justify-content-center" *ngFor="let room of rooms" (click)="goChat(room)">
        
        <div class="col-1">
          <img [src]="room.flag" width="30px">
        </div>

        <div class="col-4">
          <a class="country-name"> {{room.name}} </a>
        </div>

      </div>
    </div>

    <div class="col card p-3">
      <p class="d-flex justify-content-center">I would like to talk about</p>
      <div class="room" *ngFor="let room of rooms" (click)="goChat(room)">
        <a class="d-flex justify-content-center">{{room.name}}</a>
      </div>
    </div>

    <div class="col card p-3">
      <p class="d-flex justify-content-center">I would like to talk about</p>
      <div class="room" *ngFor="let room of rooms" (click)="goChat(room)">
        <a class="d-flex justify-content-center">{{room.name}}</a>
      </div>
    </div>
  </div>

</div>