@import url('https://fonts.googleapis.com/css?family=Oswald');

*{
    font-family: 'Oswald', sans-serif;
}

.feature-chat{
    margin-top: 10%;
}

.country-name{
    margin-left: 10px;
}

.img {
    margin-left: 10px;
}

.room{
    margin: 10px;
    
    .country-name{
        margin-left: 10px;
    }
}
