<div class="container-fluid">

  <div class="row d-flex justify-content-center mt-5 p-5">
    <div class="col-3 card p-3">
      <div class="row room d-flex justify-content-center" *ngFor="let room of rooms">

        <div class="col-1">
          <img [src]="room.flag" width="30px">
        </div>

        <div class="col-4">

          <ng-template #chatContent>
           <app-chat [room]="room"></app-chat>
          </ng-template>

          <chat-modal
            [modalType]="'default'"
            [modalLinkName]="room.name"
            [modalContent]="chatContent"
            [modalSize]="'xl'">
          </chat-modal>
          <!-- <span (click)="goChat(room)" class="country-name"> {{room.name}}</span> -->
        </div>

      </div>
    </div>

  </div>
</div>