<div class="row">
    <div class="col-12">
        <form (ngSubmit)="onSendMessage()">

            <textarea 
                class="chat__footer__input" 
                name="message" 
                type="text" 
                placeholder="Write a message"
                [(ngModel)]="message">
            </textarea>

            <chat-button 
                [buttonType]="'icon'" 
                [buttonIconName]="'image'"> 
            </chat-button>

            <ng-template #youtubeLink>
                <app-youtube-link></app-youtube-link>
            </ng-template>

            <chat-modal
                [modalType]="'icon'"
                [modalIconName]="'video'"
                [modalContent]="youtubeLink"
                [modalSize]="'sm'">
            </chat-modal>

            <chat-button 
                [buttonType]="'message'" 
                [buttonName]="'Send'"> 
            </chat-button>

        </form>

    </div>
</div>