
<div [ngClass]="!showMenu ? 'list-container' : 'list-container active'">

    <chat-button
        *ngIf="!showMenu"
        [buttonType]="'icon'"
        [buttonIconFont]="'fas fa-bars'"
        (click)="openMenu()">
    </chat-button>

    <chat-button
        *ngIf="showMenu"
        [buttonType]="'icon'"
        [buttonIconFont]="'fas fa-times-circle'"
        (click)="openMenu()">
    </chat-button>

    <ul class="more-button-list" *ngIf="showMenu">
        <li class="more-button-list-item" *ngFor="let item of items" (click)="getAction(item.action)">
            <i class="{{item.icon}}"></i>
            <span>{{item.name}}</span>
        </li>
    </ul>

</div>