<div class="row center-xs communities-logo">
    <div class="col-xs-6">
        <img src="https://img.icons8.com/cotton/64/000000/home--v3.png">
    </div>
</div>

<hr>

<ul>
    <li *ngFor="let community of communities">
        <img (click)="changeCommunity(community)" [src]="community.logo">
        <span style="color: white">{{community.name}}</span>
    </li>
</ul>

<hr>

<div class="row center-xs">
    <div class="col-xs-6">
        
        <ng-template #youtubeLink>
            <app-new-community
                [user]="user">
            </app-new-community>
        </ng-template>

        <chat-modal 
            [modalType]="'icon'" 
            [modalIconName]="'plus'" 
            [modalContent]="youtubeLink" 
            [modalSize]="'md'"
            (modalRef)="modalRef($event)">
        </chat-modal>
    </div>
</div>

