img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px 9px;
    cursor: pointer;
}

hr{
    background-color: #FFFFFF0F;
    height: 2px;
    width: 32px;
    border-radius: 1px;
}

.communities-logo{
    margin-top: 10px;
}