img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px 9px;
    cursor: pointer;
}

hr{
    background-color: #FFFFFF0F;
    height: 2px;
    width: 32px;
    border-radius: 1px;
}

.communities-logo{
    margin-top: 10px;
}

.menu{
    position: relative;
    bottom: 78px;
    left: 57px;
}