<div class="row center-xs communities-logo">
    <div class="col-xs-6">
        <img src="https://img.icons8.com/cotton/64/000000/home--v3.png">
    </div>
</div>

<hr>

<ul *ngIf="communities.length > 0">
    <li *ngFor="let community of communities">
        
        <div *ngIf="community.status == 2">
            <img (click)="changeCommunity(community)" [src]="community.logo">
            <span style="color: white">{{community.name}}</span>
        </div>

        <div *ngIf="community.status == 1">
            <br>
            <p style="color: white;">Pending</p>
            <img [src]="community.logo">
            <span (click)="acceptInvitation(community)" style="color: white">{{community.name}}</span>
        </div>

    </li>
</ul>

<div *ngIf="communities.length === 0">
    <p>No communities</p>
</div>

<hr>

<div class="row center-xs">
    <div class="col-xs-6">
        
        <ng-template #youtubeLink>
            <app-new-community
                [user]="user">
            </app-new-community>
        </ng-template>

        <chat-modal 
            [modalType]="'icon'" 
            [modalIconName]="'plus'" 
            [modalContent]="youtubeLink" 
            [modalSize]="'md'"
            (modalRef)="modalRef($event)">
        </chat-modal>
    </div>
</div>

