<div class="row center-xs communities-logo">
    <div class="col-xs-6">
        <img src="https://img.icons8.com/cotton/64/000000/home--v3.png" (click)="userProfile()">
    </div>
</div>

<hr>

<ul *ngIf="communities.length > 0" class="center-xs">
    <li *ngFor="let community of communities">

        <div *ngIf="community.status == 2">
            <img (click)="changeCommunity(community)" [src]="community.logo">
            <p style="color: white;">{{community.name}}</p>
        </div>

        <div *ngIf="community.status == 1">
            <img [src]="community.logo">
            <span style="color: white">{{community.name}}</span>
            <app-menu 
                class="menu" 
                [data]="community" 
                [items]="menuItems"
                (sendAction)="getAction($event, community)">
             </app-menu>
        </div>

    </li>
</ul>

<div *ngIf="communities.length === 0">
    <p>No communities</p>
</div>

<!-- <hr> -->

<!-- <div class="row center-xs">
    <div class="col-xs-6">

        <ng-template #youtubeLink>
            <app-new-community [user]="user">
            </app-new-community>
        </ng-template>

        <chat-modal [modalType]="'icon'" [modalIconName]="'plus'" [modalContent]="youtubeLink" [modalSize]="'md'"
            (modalRef)="modalRef($event)">
        </chat-modal>
    </div>
</div> -->

<hr>

<div class="row center-xs">
    <div class="col-xs-6">
        <chat-button 
            [buttonType]="'icon'"
            [buttonIconFont]="'fas fa-power-off'"
            (click)="setUserOffline()">
        </chat-button>
    </div>
</div>